<div id="formulario">
    <form>
        <label>Tipo de vehículo</label><br />
        <select [(ngModel)]="tipo_vehiculo">
            <option *ngFor="let t of tipos">
                {{t}}
            </option>
            <google-map> width="750px"
            height="450px"
            [center]="center"
            [zoom]="zoom">
            </google-map>

        </select><br /><br />
        <label>Marca</label><br />
        <input type="text" /><br /><br />

        <label>Modelo</label><br />
        <input type="text" /><br /><br />

        <label>Radio de búsqueda (metros)</label><br />
        <input type="number" /><br /><br />
        <input type="checkbox" [(ngModel)]="de_pago"/>
        <label>Parking de pago</label><br /><br />
        <input type="checkbox" [(ngModel)]="disabled"/>
        <label>Plazas de discapacitados</label><br /><br />
        
        <button routerLink="/mapa" routerLinkActive="active" (click)="buscar()">Buscar</button>

    </form>

</div>
