<div id="formulario">
    <form>
        <label>Tipo de vehículo</label><br />
        <select [(ngModel)]="tipo_vehiculo">
            <option *ngFor="let t of tipos">
                {{t}}
            </option>

        </select><br /><br />
        <label>Marca</label><br />
        <input type="text" /><br /><br />

        <label>Modelo</label><br />
        <input type="text" /><br /><br />

        <label>Radio de búsqueda (metros)</label><br />
        <input type="number" /><br /><br />
        <label>Parking de pago</label>
        <input type="checkbox" /><br /><br />
        <label>Plazas de discapacitados</label>
        <input type="checkbox" />

    </form>

</div>
